.inputField {
    font-family: 'Roboto', sans-serif;    
    font-weight: bold;
    border-radius: 5px;
    width: 25vw;
    min-width: 200px;
    height: 40px;
    background-color: #434458;
    color: white;
    border: 0;
    margin: 10px;
    padding-left: 1rem;
    min-height: 40px;
}

::placeholder {
    position: absolute;
    margin-top: 12.5px;
    margin-left: 5px;
    color: #8282a3;
    font-size: 0.7rem;
}