body {
    background-color: #0F102B;
    width: 100%;
    height: 100%;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0F102B;
    width: 100%;
    height: 100%;
}


.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrollableDiv {
    height: 300;
    overflow: "auto";
}